@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:wght@700&display=swap');

/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  background-color: #fdf6e4;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

/* Top Left Name - PRIYANSHU YADAV */
.top-left-name {
  position: absolute;
  top: 20px;
  left: 70px;
  font-size: 70px;
  font-weight: bold;
  color: #333;
}

/* Social Icons at Top Right - Bigger */
.social-icons {
  position: absolute;
  top: 55px;
  right: 12cap;
}

.social-icons a img {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  transition: transform 0.3s;
}

.social-icons a img:hover {
  transform: scale(1.2);
}

/* Animation (Moved Left) */
#animation-container {
  position: absolute;
  top: 0%;
  right: 56.5%;
  width: 990px;
  height: 990px;
  z-index: -1;
}

/* Profile Photo (Above Text) */
.profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #dcd2ba;
  position: absolute;
  top: 20%;
  left: 85%;
  transform: translateX(-50%);
}

/* Info Section */
.info-section {
  position: absolute;
  top: 37%;
  left: 85%;
  transform: translateX(-50%);
  max-width: 400px;
  text-align: center;
}

/* Headings and Subheadings */
h1 {
  font-size: 42px;
  margin-bottom: 5px;
}

.highlight {
  color: #1e40af;
  font-weight: bold;
  font-size: 60px;
}

/* Resume Button .resume-btn {
  background-color: #736d58;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
}*/

/* About Me Section */
.about-me {
  margin-top: -40px;
  padding: 15px;
 
  border-radius: 8px;
}






